@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:focus-visible {
    @apply outline-none ring-2 ring-red ring-offset-2 ring-offset-darkBlue;
  }
}

:root {
  --plyr-color-main: #fc4747;
  --plyr-video-background: #10141e;
  --plyr-menu-background: #161d2f;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
